<%= render "shared/header" %>

<%= form_with model: @user, url: user_registration_path, local: true do |f| %>
  <%= render "devise/shared/error_messages", model: f.object %>

  <div class="sign-up-field">
    <%= f.label :nickname %><br />
    <%= f.text_area :nickname, class:"sign-up-string", autofocus: true, autocomplete: "nickname" %>
  </div>

  <div class="sign-up-field">
    <%= f.label :one_word_comment %><br />
    <%= f.text_area :one_word_comment, class:"sign-up-string sign-up-text", autocomplete: "one_word_comment" %>
  </div>

  <div class="sign-up-field">
    <%= f.label :email %><br />
    <%= f.email_field :email, class:"sign-up-string", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="sign-up-field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class:"sign-up-string", autocomplete: "new-password" %>
  </div>

  <div class="sign-up-field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class:"sign-up-string", autocomplete: "new-password" %>
  </div>

  <div class="sign-up-field">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
