<%= render "shared/header" %>

<div class="web_app-page">
  <div class="web_app-list">
    <% if !@web_apps.empty? %>
      <% @web_apps.each do |web_app| %>
        <div class="web_app-block">
          <%= link_to web_app_path(web_app.id) do %>
            <div class="web_app-image">
              <%= image_tag web_app.image, class: "web_app-image" if web_app.image.attached? %>
            </div>
            <div class="names">
              <div class="web_app-name">
                <%= web_app.name %>
              </div>
              <div class="nick-name">
                <%= web_app.user.nickname %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="paginate">
    <%= paginate @web_apps %>
  </div>
</div>

<div class="description">
  <%= link_to "初めて本アプリを使用する方へ", description_web_apps_path %>
</div>